<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vlemay.com.diabetesv1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Diabetes"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DiabetesList"
            android:label="@string/title_activity_diabetes_list" >
        </activity>
        <activity
            android:name=".DiabetesUserList"
            android:label="@string/title_activity_diabetes_user_list" >
        </activity>
        <activity
            android:name=".DiabetesListUsers"
            android:label="@string/title_activity_diabetes_list_user" >
        </activity>
        <activity
            android:name=".DiabetesDeviceList"
            android:label="@string/title_activity_diabetes_device_list" >
        </activity>
        <activity
            android:name=".DiabetesListDevices"
            android:label="@string/title_activity_diabetes_list_devices" >
        </activity>
        <activity
            android:name=".DiabetesDeleteEvent"
            android:label="@string/title_activity_diabetes_delete_event" >
        </activity>
        <activity
            android:name=".DiabetesAddEvent"
            android:label="@string/title_activity_diabetes_add_event" >
        </activity>
        <activity
            android:name=".login.LoginScreenActivity"
            android:label="@string/title_activity_login_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>
